svg {
    touch-action: none;
}

.navbar{
	border:none;
}

.navbar-collapse {
   /*background: linear-gradient( #4facfe , #00f2fe) fixed !important;*/
   /* background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);*/
    /*background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);*/
    background-image: linear-gradient(to right, #68e0cf 0%, #209cff 100%); /* 120 */

}

.navbar-header{
	background: none !important;
}

.navbar-brand{
	padding: 12px 15px !important;
}

body {
        font-family: NanumSquare, "Noto Sans KR", 굴림, gulim, helvetica, sans-serif !important;
    }

.main_menu_side{
	margin-top: 20px;
}

.nav_title{
	    height: 1px !important;
}

.navbar {
	min-height: 1px !important;
}

.nav.navbar-nav>li>a{
	color: white !important;
	font-weight: 700 !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: none !important;
    border-color: #337ab7;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: none !important;
    border-color: #337ab7;
}

.nav_menu-j{
	padding: 15px !important;
}

.toggle{
	float: right !important;
	padding-top: 11px !important;
	    width: 48px !important; 
}

.breadcrumb{
	margin-bottom: 0px !important;
	background-color:  white !important;
	padding: 1px 0px;
}

.nav_menu{
	    background: white !important;
}

.title-txt{
	    font-size: 21px;
	    color: #209cff;
	   font-weight: 600;
}

.breadcrumb a{
	font-weight: 600;
}

.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\e649";
    font-family: themify;
    color: #a6b7bf;
    font-size: 11px;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #636c72;
    content: ">";
}

.breadcrumb::after {
    display: block;
    content: "";
    clear: both;
}

.h1, .h2, .h3, h1, h2, h3{
	font-weight: 600 !important;
}

.label-j{
	display: inline;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
   	padding: 1px 5px;
}

tbody{
	font-family: "Noto Sans KR", 굴림, gulim, helvetica, sans-serif !important;
}

td, th {
    text-align: left !important;
}

.table-btn{
	color: #209cff !important;
	font-weight: 800 !important;
	background: #F5F7FA;
}

 .table-btn:hover {
      text-decoration: underline !important;
  }

  .btn-1 {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.blue-bg{
	background-color: #209cff !important;
	color: white;
}


.progress {
    border-radius: 0!important;
    width: 70px !important;
    margin: 0px 0px !important;
}

.dataTables_paginate{
	float: none !important;
    text-align: center !important;
}

.pagination{
	margin: 0px 0 !important;
}

.dataTables_info{
	padding-top: 7px !important;
}

.page-wrap{
	width: 100%;
    margin-bottom: 10px;
    float: left;
}

table tbody tr.ui-selected {
    background-color: rgba(38, 185, 154, .16) !important;
    color: #fff !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	z-index: 3 !important;
    color: #fff !important;
    cursor: default !important;
    background-color: #1abc9c !important;
    border-color: #18b092 !important;
}

.breadcrumb .strong{
	font-weight: 700;
	color: #209cff;
}

.breadcrumb-item:hover{
	cursor: pointer;
	text-decoration: underline;
}

.section-list{
	height: 971px;
	overflow-y: scroll;
}

.section-list-Wrap{
	width: 16%;
	float: left;
}

.section-list-Wrap .x_panel{
	    padding: 10px 7px !important;
}

.shot-info-wrap{
	float: left;
	width: 24.4%;
}

.section-num:hover{
	color: #209cff;
	cursor: pointer;
	text-decoration: underline;
}

.section-list tbody tr:hover{
	background-color: #dcf4ef !important;
	color: #209cff !important;
	cursor: pointer;
	text-decoration: underline;
	border-top-color: #93dccd;
	border-bottom-color: #93dccd;
}

.shot-list-wrap .col-xs-2{
	padding: 2px 2px !important;
}

.shot-list-wrap{
	width: 100%;
    /*
	height: 123px;
	overflow-y: scroll;
	*/
}

ul.bar_tabs{
	margin: 25px 0 0px !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	font-size: 20px !important;
	color: #209cff !important;
	font-weight: 700;
}

ul.bar_tabs>li.active{
	top: -9px !important;
}

/*ul.bar_tabs{
	position: absolute !important;
}
*/
.title-shot-wrap{
	width: 100%;
	float: left;
}

.top-form{
	width: 100%;
	height: 46px;
	float: left;
	    border-bottom: 1px solid #e8e8e8;
}

.img-shot-title .x_title{
    margin-bottom: 0px !important;
}

.img-shot-title .ul.bar_tabs{
	padding-left: 0px !important;
}

.left-name{
	margin-top: 8px;
    float: left;
    width: 199px;
    padding-left: 8px;
}

.list-num{
	cursor: pointer;
}

.list-num a:hover{
	color: #209cff !important;
	cursor: pointer;
	text-decoration: underline;
}

.badge2 {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.top-label{
	width: 270px;
	float: left;
	margin-bottom: 0px;
}

.top-label .btn.btn-app{
    position: relative;
    padding: 5px 5px;
    margin: 0px;
    min-width: 80px;
    height: 30px;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 12px;
    font-weight: 700;
}

.btn.btn-app>.badge2 {
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.top-label li{
	list-style: none;
	float: left;
	margin-left: 10px;
}

.x_title span {
    color: white !important;
    font-weight: 700;
}

.edit-form{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.edit-form .control-label {
    padding-top: 8px;
    text-align: right;
}

.form-wrap{
	width: 100%;
	margin-top: 2px;
	float: left;
	margin-bottom: 10px;
}

.form-wrap:hover{
	background-color: #dcf4ef !important;
}

.panel-heading {
    background: #F2F5F7;
    padding: 7px 21px;
    width: 100%;
    display: block;
    font-size: 17px;
    font-weight: 600;
    height: 41px;
}

.panel {
    margin-bottom: 12px !important;
}

.btn-sm {
    display: inline-block;
    padding: 1px 4px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.btn-red{
	background-color: rgba(231, 76, 60, .88);
    border: 1px solid rgba(231, 76, 60, .88);
    color: white;
}

.layer-name{
	float: left;
	margin-right: 8px;
}

.layer-edit-wrap{
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}

.layer-edit-title .x_title {
	margin-bottom: 0px;
}

.layer-edit-title .x_content {
	margin-top: 4px;
}

.float-r{
	float: right !important;
}

.edit-btns-wrap{
	width: 100%;
	float: left;
	border-bottom: 1px solid #e5e5e5;
	padding: 0px 5px 8px 5px;
}

.m-right10{
	margin-right: 10px;
}

.m-right10 a{
	padding: 5px !important;
    color: #209cff !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}

.shot-info-wrap .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	font-size: 15px !important;
    color: #209cff !important;
    font-weight: 700;
}

.shot-info-wrap ul.bar_tabs>li a {
    padding: 5px 7px !important;
}

.shot-info-wrap ul.bar_tabs{
    padding-left: 0px  !important;
    margin: 7px 0 8px !important;
}

.shot-info-wrap ul.bar_tabs>li{
	    margin-top: -7px !important;
}

.shot-info-wrap ul.bar_tabs>li.active {
    top: -1px !important;
}

.shot-info-wrap .x_title{
	    margin-bottom: 0px !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #219dfe !important;
}

.navbar-nav .open .dropdown-menu{
	width: 160px !important;
}

.c-li-row{
	width: 100%;
}

.c-li-row .col-md-12.col-sm-12.col-xs-12{
	    padding-left: 0px !important;
	    padding-right: 0px !important;
}

.img-shot-select{
	width: 125px;
	float: left;
}