<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.konantech.spring.mapper.CodeMapper">


    <select id="getCodeMap" parameterType="String" resultType="java.util.TreeMap">

        SELECT
          code,
          group_code,
          code_name,
          code_reference
        FROM
            VTTM_CODE_TB
        <where>
            group_code = #{codeId}
            and use_yn = 'Y'
        </where>
        ORDER BY code_name
    </select>
</mapper>
