<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.konantech.spring.mapper.StoryboardMapper">

    <select id="getShotCount" parameterType="ContentQuery" resultType="java.lang.Integer">
        SELECT
        COUNT(*) AS COUNT
        FROM
        VTTM_SHOT_TB
        <where>
            videoid = #{idx}
            and delflag = false
        </where>

    </select>
    <select id="getImgEditShotList" parameterType="ContentQuery" resultType="ShotTB">
        SELECT
        S.shotid, S.videoid, S.content, S.starttimecode, S.startframeindex,SUBSTR(A.sectionname, 0, POSITION('-' in A.sectionname)) AS startno,
        S.endtimecode, S.endframeindex, S.assetfilename, S.assetfilepath, S.object, S.delflag, step, activerun, round(activescore::numeric, 3) * 100 as activescore
        FROM
        vttm_section_info_tb A
        INNER JOIN VTTM_SHOT_TB S ON A.videoid = S.videoid AND S.shotid BETWEEN A.startshotid AND A.endshotid
        <where>
            A.videoid = #{idx}
        </where>
        ORDER BY S.shotid asc
        <if test="limit > 0">LIMIT #{limit} </if>
        <if test="offset > 0">OFFSET #{offset} </if>
    </select>

    <select id="getShotList" parameterType="ContentQuery" resultType="ShotTB">

        SELECT
            shotid, videoid, content, starttimecode, startframeindex,
            endtimecode, endframeindex, assetfilename, assetfilepath, object, delflag, step
        FROM
          VTTM_SHOT_TB
        <where>
            videoid = #{idx}
        </where>
        ORDER BY shotid asc
        <if test="limit > 0">LIMIT #{limit} </if>
        <if test="offset > 0">OFFSET #{offset} </if>
    </select>

    <select id="getSectionOfSceneList" parameterType="ContentQuery" resultType="ShotTB">

        SELECT
        B.shotid, B.videoid, B.content, B.starttimecode, B.startframeindex,
        B.endtimecode, B.endframeindex, B.assetfilename, B.assetfilepath, B.object, B.delflag,SUBSTR(A.sectionname, 0, POSITION('-' in A.sectionname)) AS startno, step
        FROM VTTM_SECTION_INFO_TB A
        INNER JOIN VTTM_SHOT_TB B ON A.videoid = B.videoid AND B.shotid BETWEEN A.startshotid AND A.endshotid
        <where>
            A.videoid = #{idx}
            and A.sectionid = #{sectionid}
        </where>
        ORDER BY B.shotid asc
        <if test="limit > 0">LIMIT #{limit} </if>
        <if test="offset > 0">OFFSET #{offset} </if>

    </select>

    <insert id="putShotItem" parameterType="shotTB" useGeneratedKeys="true" keyProperty="shotid">
        <selectKey keyProperty="shotid" resultType="Integer" order="BEFORE">
            SELECT COALESCE(max(shotid),0) + 1 FROM VTTM_SHOT_TB
        </selectKey>
        INSERT INTO VTTM_SHOT_TB (
          shotid, videoid, content, starttimecode, startframeindex,
          endtimecode, endframeindex, assetfilename, assetfilepath, object, delflag, step
        ) values (
          #{shotid}, #{videoid}, #{content}, #{starttimecode}, #{startframeindex},
          #{endtimecode}, #{endframeindex}, #{assetfilename}, #{assetfilepath}, cast(#{object} as jsonb), false, #{step}
        )
    </insert>

    <delete id="deleteShotItems">
        DELETE FROM VTTM_SHOT_TB
        <where>
            videoid = #{videoid}
        </where>
    </delete>

    <update id="updateShotItem" parameterType="map">
        UPDATE VTTM_SHOT_TB
        <set>
            <if test = "delflag!=null and delflag!='' ">
              DELFLAG = #{delflag}
            </if>
            <if test = "object!=null and object!='' ">
                OBJECT = #{object}
            </if>
        </set>
        WHERE VIDEOID = #{videoid}
          AND SHOTID = #{shotid}
    </update>

    <select id="getVisualJsonList" parameterType="map" resultType="ShotTB">
        select
            x.videoid
            ,x.shotid
            ,x.assetfilepath||x.period_num||'/' as assetfilepath
            ,x.image||'.jpg' as assetfilename
            ,x.json as object
        from (
            select
                s.videoid,
                s.shotid,
                s.assetfilepath,
                json_array_elements(m.vtt_meta_json)                                         as json,
                json_array_elements(m.vtt_meta_json) ->> 'period_num'  as period_num,
                json_array_elements(m.vtt_meta_json) ->> 'image'  as image,
                cast(json_array_elements(m.vtt_meta_json) ->> 'period_frame_num' as numeric) as period_frame_num
            from
                vttm_shot_tb s
                inner join vttm_meta_info_tb m
                    on s.videoid = m.idx
                         and s.shotid = m.shotid
            where s.videoid = #{idx}
                        and m.userid = #{userid}
                        and s.delflag = false
        )x
        where x.period_frame_num = (select
                                        min(y.period_frame_num) period_frame_num
                                    from (
                                                 select
                                                     s.videoid,
                                                     s.shotid,
                                                     cast(json_array_elements(m.vtt_meta_json) ->> 'period_frame_num' as numeric) as period_frame_num
                                                 from
                                                     vttm_shot_tb s
                                                     inner join vttm_meta_info_tb m
                                                         on s.videoid = m.idx
                                                                and s.shotid = m.shotid
                                                 where s.videoid = #{idx}
                                                             and m.userid = #{userid}
                                                             and s.delflag = false
                                             )y
                                    where y.shotid= x.shotid
                                    group by y.videoid,y.shotid)
    </select>
</mapper>