<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.konantech.spring.domain"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler" />
        <typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.DateTypeHandler" />
        <typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler" />
    </typeHandlers>
</configuration>